@model List<Book>
@{
    ViewData["Title"] = "Danh sách sách";
}

<h2 class="mb-4">Danh sách sách</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Name</td>
                <td>@book.Price</td>
            </tr>
        }
    </tbody>
</table>
